<div id="<%= dom_id property %>">
  <p>
    <strong>Title:</strong>
    <%= property.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= property.rooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= image_tag property.avatar.representation(resize_to_limit: [100, 100]) %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= property.rating&.location_rating %>
  </p>

</div>
